Package           Version
----------------- -------
black             23.9.1
click             8.1.7
mypy              1.5.1
mypy-extensions   1.0.0
packaging         23.1
pathspec          0.11.2
pip               23.2.1
platformdirs      3.10.0
setuptools        68.0.0
typing_extensions 4.8.0
websockets        11.0.3
wheel             0.38.4
